.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: lightcyan;
  margin: 0 auto;
  align-items: center;

  div {
    font-size: 2rem;
    text-align: center;
  }
}
